@charset "utf-8";
* {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
}

.game {
  padding: 10px;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.game li {
  font-size: 3rem;
  color: #333;
  width: 80px;
  height: 80px;
  background-color: #333;
  list-style: none;
  float: left;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.1s ease-out; */
}

.game li:hover {
  background-color: #ff5e3a;
}

.game li.active {
  background-color: #fe8f76;
}

.game li i {
  display: none;
}

.game li.list0 {
  opacity: 0;
  /* background-color: cornflowerblue; */
}

.game li.line {
  border-radius: 0;
  /* opacity: 60%; */
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: #f8c6bbc1;
  transition: none;
}

#game {
  position: relative;
  display: inline-block;
  margin: auto;
}

#game-stats {
  display: flex;
  gap: 1rem;
  padding-left: 10px;
}

#message {
  font-size: 2rem;
  width: 60%;
  background-color: rgb(51 51 51 / 70%);
  color: #ddd;
  opacity: 90%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: none;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#message.shown {
  display: block;
}

#message #action-btn {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 4vmin;
  padding: 2vmin;
}

#message #action-btn:hover {
  background-color: #fff;
}

#overlay {
  position: absolute;
  z-index: 5;
  opacity: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
#overlay.shown {
  display: block;
}
